.Name {
  font-size: 40px;
  padding-left: 40px;
  font-family: "IntroAlt";
}

.Top {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: #f07b28;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #efdfcc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(10, 19, 184);
}

.App-link {
  color: #61dafb;
  text-align: right;
  padding-right: 40px;
}

