.Name {
  font-size: 50px;
  padding-left: 40px;
  font-family: "IntroAlt";
  color: rgb(57, 56, 57);
}

.Content {
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 75px;
}

.Top {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  background-color: #f07b28;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #efdfcc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
  text-align: right;
  padding-right: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
}

